html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
	font-family: "Tiempos", Georgia, serif;
	margin: 0;
	background-color: #F9F6EF;
}

.js body {
	overflow: hidden;
}

main:before,
main:after,
section:before,
section:after {
	content: "";
	display: table;
}
main:after,
section:after {
	clear: both;
}

.js main {
	overflow: hidden;
}

img {
	max-width: 100%;
}

.fp-red {
	color: #EB1414;
}

nav li {
	list-style-type: none;
}

.js section {
	float: left;
	overflow: scroll;
}

section#intro-0--intro {
	background-color: #111;
	color: #fff;
}

	section header {
		height: 88vh;
		padding: 3em 3em 1em;
	}

	.js section header {
		overflow-y: hidden;
		width: 80vw;
	}

	section.sidebar header {
		height: 88vh;
		overflow-y: scroll;
		padding: 3em 3em 1em;
	}

	.js section.sidebar header {
		width: 40vw;
	}

	header#intro-0-header {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
		background-position: center;
		background-size: cover !important;
	}

a {
	color: inherit;
}

p {
	line-height: 1.8rem;
	font-size: 15px;
	margin: 0 0 25px;
}

.no-js .hamburger-button {
	display: none;
}

.hamburger-button {
	background: transparent;
	border-bottom: 10px solid transparent;
	border-left: 6px solid transparent;
	border-right: 0;
	border-top: 0;
	cursor: pointer;
	display: block;
	height: 45px;
	outline: 0;
	position: absolute;
	right: 1.2em;
	top: 1em;
	width: 30px;
}

	.hamburger-button>.line {
	    top: 12px;
	}

	.hamburger-button::after,
	.hamburger-button::before,
	.hamburger-button>.line {
		background-color: #fff;
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		right: 0;
		width: 30px;
	}

	.hamburger-button::before {
		top: 3px;
	}

	.hamburger-button::after {
		top: 21px;
	}

.share--options__nav {
	position: absolute;
	right: 4.5em;
	top: 1em;
}

	.share--options__nav a:hover,
	.share--options__nav img:hover {
		cursor: pointer;
	}

	.share--options__nav a img {
		padding: 0 0.5em;
	}

		.share--options__nav a[data-endpoint="facebook"] img {
			height: 1.7em;
			margin-bottom: -0.3em;
		}

		.share--options__nav a[data-endpoint="twitter"] img {
			height: 1.4em;
			margin-bottom: -0.15em;
		}

	.share-icon {
		height: 1.7em;
		margin-bottom: -0.3em;
	}

.nav-open {
	transition: all 0.5s ease;
}

    .nav-open::before {
      top: 35%;
      transform: rotate(45deg);
    }

    .nav-open::after {
      top: 35%;
      transform: rotate(-45deg);
    }

    .nav-open > .line {
      display: none;
    }

.header--main {
	background-color: #111;
	font-size: 0.8em;
	padding: 1em;
	color: #fff;
	width: 100%;
}

.js .header--main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

	.header--main .logo {
		height: 30px;
		position: absolute;
    	width: 53px;
	}

	.header--main h1, .nav-project-title {
		font-family: "Solido Compressed";
		font-weight: 600;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.header--main .back-link--parent, .post-author, .post-date {
		font-size: 1em;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
	}

	.header--main .back-link--parent {
		display: none;
		text-align: center;
		margin: 0;
	}

		.header--main .back-link--parent a {
			text-decoration: none;
		}

	.header--main nav {
		margin: 0;
	}

.share-bar {
	background-color: #fff;
	border-bottom: 1px solid #111;
	color: #111;
	display: none;
	margin: 0.75em 0 -0.85em -1em;
	padding: 0.45em 0.35em 0.35em;
	text-align: center;
	text-transform: uppercase;
	width: calc(100% + 2em);
}

.share--options {
	font-size: 0.8em;
}

.share-text,
.share-image {
	display: none;
}

.share--options {
	margin-left: 0.4em;
	padding: 0 0.5em;
}

	.share--options img {
		padding: 0 0.25em 0 0.5em;
	}

	.share--options a[data-endpoint="facebook"] img {
		height: 1.2em;
		margin-bottom: -0.2em;
	}

	.share--options a[data-endpoint="twitter"] img {
		height: 1em;
		margin-bottom: -0.15em;
	}

	.share--options a:hover {
		cursor: pointer;
	}

.hide-desktop {
	display: none;
}

.nav-toggle {
	position: absolute;
	right: 1em;
	top: 1.5em;
}

.site-nav {
	display: none;
}

.section-nav {
	border-top: 1px solid;
	margin-top: 1em;
	padding: 0.5em 0 0;
	position: relative;
}

	.section-nav--marker {
		display: none;
		font-size: 1.35em;
		left: 10%;
		position: absolute;
		top: -0.75em;
	}

	.section-nav ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: inline-block;
	}

	.section-nav li {
		text-transform: uppercase;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 16%;
	}

	.section-nav a {
		display: block;
		text-decoration: none;
	}

.section-nav.open {
	background-color: #F9F6EF;
	color: #000;
	height: 100vh;
	margin-left: -1em;
	overflow-y: scroll;
	padding: 1em 3em 5em 3em;
	transition: all 0.5 ease;
	width: calc(100% + 2em);
	z-index: 999;
}

.section-nav.open .section-nav-content {
	max-width: 600px;
	margin: auto auto 10em;
}

.section-nav.open .nav-article-header {
	font-family: "Tiempos";
	text-transform: none;
}

	.section-nav.open li {
		border-bottom: 1px solid #000;
		padding: 1.2em 1em 5px;
		text-align: left;
		width: 100%;
	}

		.section-nav.open li:last-child {
			border-right: 0
		}

	.section-nav.open li > a.internal-link.section-marker {
		background-color: #000;
		display: inline-block;
		color: #fff;
		margin: 0 0 0.5em 0;
		padding: 0.25em 0.5em;
		text-align: left;
		text-transform: uppercase;
	}

	.nav-article-header, p.credits {
		display: none;
	}

	p.credits {
		margin: 2.5em 0 2em;
		padding: 0 0.8em;
	}

	.nav-article-header__heading, .nav-sidebar-header__heading {
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.15em;
		margin: 10px 0;
	}

	a .nav-article-header__heading:hover, a .nav-sidebar-header__heading:hover, a.credits-link:hover {
		text-decoration: underline;
	}

	a.credits-link {
		display: inline;
	}

	.nav-sidebar-header__heading {
		border-top: 1px solid #cdcdcd;
		padding: 0.5em 0 0;
	}

	.nav-article-header__heading_mobile {
		display: none;
	}

	.nav-article-header__dek, p.burgerSubhed, p.credits {
		font-size: 1.2em;
		line-height: 1.25em;
		letter-spacing: 0.125px;
	}

	.nav-article-header__dek, p.burgerSubhed {
		margin-bottom: 0.5em;
	}

	p.burgerSubhed {
		text-align: center;
	}

	.nav-project-title {
		display: none;
		font-size: 2em;
		font-weight: bold;
		margin: 2em 0 0;
		text-align: center;
		text-transform: uppercase;
	}

.content--main {
	padding: 3em;
}

.js .content--main {
	height: 100vh;
	overflow-y: scroll;
	width: 80vw;
}

	#intro-0--intro .content--main {
		height: 92vh;
	}

	.content--main.content-0 {
		padding: 0 0 3em;
	}

	.content--main h1, .content--main h3 {
		text-transform: uppercase;
	}

	.content--main h1 {
		font-family: "Solido Compressed";
		font-size: 5em;
		line-height: 4.5rem;
		/*margin: 0.2em 0 0.1em;*/
		margin: 0.2em 0 0.05em;
	}

	.content--main h3 {
		font-size: 2.25vmax;
		line-height: 2.5vmax;
		font-weight: 300;
		letter-spacing: 1.5px;
		margin: 0 0 0.7em;
	}

.wide_copy, .post_copy, .gallery-author {
	max-width: 800px;
}

.gallery-author {
	margin: auto;
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
}

.wide_copy {
	margin: 0 auto;
	padding: 0 3em 3em;
}

#widecopy1 {
	padding-bottom: 5em !important;
	margin-top: 2em;
}

.post_copy, .gallery-author {
	margin: 2em auto 1em;
}

.post_copy, .gallery-author {
	padding: 0 3em 0;
}

.post_copy p, .wide_copy p {
	font-size: 17.5px;
	letter-spacing: 0.075px;
	line-height: 2rem;
}

.post_copy a, .wide_copy a {
	color: #eb1414;
	text-decoration: none;
}

.post_copy .about a, .teaser a {
	color: #000;
}

.post_copy a:hover, .wide_copy a:hover  {
	text-decoration: underline;
}

.header-copy {
	color: #fff;
	margin: auto auto 0;
	max-width: 600px;
	padding: 0 3em;
	text-align: center;
}

.labels {
	background: #111;
	color: #fff;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0.1em 0.5em;
	text-transform: uppercase;
}

section .content--entry {
	background-color: #cdcdcd;
	float: left;
	height: 100vh;
	left: 80%;
	overflow-y: scroll;
	padding: 3em;
	position: absolute;
	top: 50px;
	width: 20vw;
}

	article .content--main,
	.js article .content--main {
		padding: 0;
		width: 100vw;
	}

	.js article .content--main {
		display: none;
		height: 95vh;
		position: absolute;
	}

.no-js .nav-arrows {
	display: none;
}

.nav-arrows {
	width: 100%;
}

	.nav-arrows > div {
		position: fixed;
		top: 50%;
		z-index: 1;
	}

		.nav-arrow {
			display: inline-block;
			margin-bottom: 0.5em;
			padding: 0.5em;
			width: 50px;
			background-color: rgba(0,0,0,0.5);
		}

		.nav-arrow:hover {
			cursor: pointer;
		}

	.prev {
		left: 1em;
	}

	.next {
		right: 1em;
		text-align: right;
	}

section header h1, section header h2, .dek, .dek-preview, .readmore_slider, .readmore_0, .post-header-text {
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

p.burgerSubhed, .content--main h3, .dek, .intro-dek, .post-dek, .dek-preview, .readmore_slider, .readmore_0, .post-header-captions, .post-header-captions-mobile, .post-header-captions-mobile-sidebar, .post-image-caption, .post-article-width-image-caption, .quote-right p, .about-gallery p, .author-bio, .referBody, .teaser, .labels, .header--main .back-link--parent, .post-author, .post-date, .share-bar, .section-nav li, p.credits, .gallery-author, .nav-article-header__dek {
	font-family: "Solido";
}

.dek, .intro-dek {
	font-size: 1.05em;
	line-height: 1.25em;
	letter-spacing: 0.25px;
}

.dek {
	font-weight: 600;
}

.intro-dek {
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.35em;
	padding-bottom: 1em;
	margin-bottom: 25px;
}

.post-dek {
	font-weight: 300;
	font-size: 1.35em;
}

.dek-preview {
	font-size: 0.8em;
	font-weight: 900;
	color: #fff;
	max-width: 120px;
}

.js .content-wrapper--parent {
	top: 0;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.js .content-wrapper {
	position: absolute;
}

.hide {
	display: none;
}

section header h1, section header h2 {
	font-size: 3em;
	margin: 0 0 0.25em;
	line-height: 1.1em;
}

.readmore_slider {
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: none;
	border-top: 1px solid #fff;
	padding-top: 0.5em;
}

.readmore_0 {
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: none;
	border-top: 1px solid #fff;
	padding-top: 0.5em;
	text-align: center;
	font-size: 1.4vmax;
	margin-left: auto;
	margin-right: auto;
}

article header {
	background-position: center;
	background-size: cover !important;
	display: flex;
}

.no-js article header {
	background-color: #111111;
}

img.lazyload,
img.lazyloaded {
	width: 100%;
}

.no-js img.lazyload {
	display: none;
}

/* POST STYLES */

.dark-image {
	filter: brightness(0.7);
}

.post-header {
	width: 100%;
	position: relative;
}

.main-image, .main-image-nav {
	width: 100%;
	vertical-align: bottom;
	background-position: center;
	float: left;
}

.main-image{
	margin-bottom: 0.75em;
}

.main-image-nav {
	margin-bottom: 1em;
}

.post-header-text {
	position: absolute;
	max-width: 500px;
}

.sidebar-text {
	position: static;
	max-width: 800px;
}

#headerSidebar {
	padding-bottom: 1em;
	padding-top: 5em;
	margin: auto;
}

#header1, #header4, #header5 {
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff;
	left: 0;
	margin: 0;
	margin-left: 5%;
}

h1.intro-hed, .intro-hed-smaller {
	text-align: center;
}

h1.intro-hed {
	font-size: 7.6vmax;
	line-height: 6.6vmax;
	letter-spacing: 1px;
}

h1.post-hed, h1.sidebar-hed {
	font-family: "Tiempos";
	font-weight: 600;
	margin: 0;
	text-transform: none;
}

h1.post-hed, h1.sidebar-hed {
	font-size: 4em;
}

.post-header-captions, .post-header-captions-mobile, .post-header-captions-mobile-sidebar, .post-image-caption, .post-article-width-image-caption {
	border-bottom: 1px solid #000;
	line-height: 1.25em !important;
	letter-spacing: 0.125px !important;
	margin: 0 auto;
}

.post-header-captions, .post-image-caption {
	width: 90%;
}

.post-header-captions{
	font-size: 0.85em;
	padding: 0.5em 0;
}

.js .post-header-captions{
	padding-top: 44.25em;
}

.post-header-captions-mobile, .post-header-captions-mobile-sidebar, .mobile-post-marker {
	display: none;
}

.post-image-caption, .post-article-width-image-caption {
	padding: 0.5em 0;
	font-size: 0.9em !important;
	text-align: left;
}

.post-article-width-image-caption {
	margin-bottom: 2.5em;
}

.post-dek {
	font-weight: 300;
	font-size: 1.55em;
	line-height: 1.4em;
	letter-spacing: .25px;
}

.post-author {
	margin: 0.5em 0 1.43em;
}

.post-date {
	margin: 0.5em 0 0.83em;
	color: #999;
}

.post_intro_lead:first-line{
	font-family: "Tiempos", Georgia, serif;
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.media-contain {
	margin: 0.3em 1em;
	padding: 1.5em 1em 0;
}

.quote-right {
	margin: 1% -15% 2% 45px;
	float: right;
}

.photo-right {
	max-width: 400px;
	margin: 1% -25% 2% 25px;
	float: right;
}

.about {
	background-color: #fff;
	max-width: 275px;
	padding-top: 1em;
}

.pullquote {
	max-width: 350px;
	margin-right: -23.5%;
}

.quote-right p, .photo-right p, .about-gallery p, .author-bio, .teasers p {
	font-size: 0.85em !important;
	line-height: 1.25rem !important;
	margin-bottom: 5px;
}

.about-gallery img {
	padding-left: 13em;
	padding-right: 13em;
}

.logoImg {
	padding-bottom: 1em;
	padding-top: 15px;
}

.pullquote p, p.about_lead {
	font-family: "Tiempos";
	font-weight: 600;
}

.pullquote p {
	font-size: 1.65em !important;
	line-height: 1.7rem !important;
}

p.about_lead {
	font-size: 1.1em !important;
}

p.referBody {
	margin-bottom: 15px;
}

p.about_lead.refer {
	margin-top: 5px;
}

.post-module {
	width: 100vw;
	max-height: 600px;
	height: auto;
	margin-top: 2em;
	text-align: center;
	position: relative;
}

.post-module.two-images {
	padding-bottom: 0;
	width: 100%;
	margin-top: 1em;
	max-height: none;
	margin-bottom: 3em;
	float: left;
}

.two-images:after, .two-images:before {
	content: '';
	display: table;
}

.post-module.two-images .post-image-left, .post-module.two-images .post-image-right {
	float: left;
	height: auto;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 50%;
}

.post-module.two-images .post-image-left {
	margin-right: 0;
	margin-top: 0;
}

.post-module.two-images .post-image-right {
	margin-left: 0;
	margin-top: 0;
	float: right;
}

.red-box-end {
	margin: 0 auto;
	max-width: 800px;
	width: 80%;
}

.red-box-end:before {
	background: #eb1414;
	content: '';
	display: block;
	float: right;
	height: 0.7em;
	margin-top: 0.6em;
	width: 0.7em;
}

.author-bio {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 1em 0;
	margin-bottom: 1.3em;
}

.teasers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.teaser {
	flex-basis: 48%;
	background-color: #fff;
	margin-bottom: 2em;
}

.teaser-contain {
	padding: 1em 1em 0;
}

.teaser-label {
	margin: 0;
	padding: 3px 0;
	text-transform: uppercase;
	text-align: center;
	background: #000;
	color: #fff;
	font-weight: 400;
	font-size: 0.8em;
}

.show-mobile {
	display: none;
}

@media screen and (min-width: 1321px) {
	#header4 {
		padding-bottom: 80px;
	}
}

@media screen and (max-width: 1100px) {
	.photo-right {
		margin-right: -15%;
	}
}

@media screen and (max-width: 950px) {

	.intro-dek {
		font-size: 1.05em;
		line-height: 1.3em;
	}

	h1.post-hed, h1.sidebar-hed {
		font-size: 3.5em;
		line-height: 3.5rem;
	}

	#headerSidebar {
		width: 90%;
	}

	.post-header-captions {
		padding-top: 40em;
	}

	.quote-right, .photo-right {
		margin: 0.3em 0 2em;
	}

	.about {
		max-width: 100%;
		width: 100%;
	}

	.about img {
		max-width: 300px;
	}

	.pullquote {
		max-width: none;
	}

	.pullquote p {
		position: relative;
		border-top: 10px solid #000;
		padding: 1em 0;
	}

	.pullquote p:after {
		position: absolute;
		content: '';
		top: -10px;
		right: 0;
		width: 75%;
		height: 10px;
		background: #F9F6EF;
	}
}

@media screen and (max-width: 800px) {
	.post-header-captions {
		padding-top: 30em;
	}

	h1.intro-hed {
		font-size: 6.4vmax;
		line-height: 5.4vmax;
		margin-bottom: 0.15em;
	}

	.content--main h3 {
		font-size: 2.5vmax;
		line-height: 2vmax;
		margin-bottom: 0.4em;
	}

	.no-horizontal-padding {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 700px) {

	.share--options__nav {
		right: 4em;
	}

	.hamburger-button {
		width: 25px;
	}

		.hamburger-button::after,
		.hamburger-button::before,
		.hamburger-button>.line {
			width: 25px;
		}

	.section-nav {
		border: 0;
		margin-top: 0;
		display: none;
	}

	.section-nav.open {
		margin-top: 1em;
	}

	.section-nav .section-marker,
	.section-nav .section-nav--marker {
		display: none !important;
	}

	section.sidebar header,
	#intro-0--intro .content--main,
	.content-0 {
		width: 100vw !important;
	}

	section header,
	section.sidebar header {
		padding: 3em 3em 6em;
	}

	section header,
	section.sidebar header,
	.js section header,
	.js section.sidebar header {
		height: 95vh;
		width: 100vw;
	}

	header#intro-0-header {
		background-position: 52%;
	}

	.dek-preview.dek-prev,
	.dek-preview.dek-next {
		opacity: 0;
	}

	.wide_copy, .header-copy, .post_copy, .gallery-author {
		padding: 0;
	}

	#widecopy1 {
		padding-bottom: 10em !important;
	}

	.header--main .logo {
		height: 25px;
		width: 35px;
	}

	.header--main h1 {
		font-size: 1.5em;
	}

	.hide-desktop {
		display: block;
	}

	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: inline;
	}

	.content--main h1 {
		font-size: 2.5em;
		line-height: 2.5rem;
	}

	section header h1,
	section header h2 {
		font-size: 1.75em;
		line-height: 2.05rem;
	}

	p.credits {
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 1em;
	}

	.section-nav.open .nav-project-title {
		/*text-align: left;*/
		margin-bottom: 0.5em;
	}

	/* FOR POSTS */

	.content-0 {
		padding: 3em 0 0;
	}

	.dark-image {
		filter: brightness(1);
	}

	.wide_copy, .post_copy, .post-header-text, #header4, .gallery-author {
		width: 90%;
	}

	.post-header-text {
		padding-top: 1em;
		text-shadow: none;
		position: relative;
		max-width: none;
	}

	#header1, #header4, #header5 {
		transform: none;
	}

	#header1, #header4 {
		color: #000;
	}

	h1.intro-hed {
		font-size: 4.5em;
		line-height: 3.75rem;
	}

	h1.post-hed, h1.sidebar-hed {
		font-size: 2em;
		line-height: 2rem;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}

	.sidebar-text, .post-header-captions-mobile-sidebar {
		width: 90%;
	}

	#headerSidebar {
		padding-top: 2em;
	}

	.post-header-captions-mobile, .post-header-captions-mobile-sidebar, .mobile-post-marker, .post-author, .post-date {
		display: block;
		font-size: 0.85em;
	}

	.post-header-captions-mobile, .post-header-captions-mobile-sidebar {
		padding-bottom: 1em;
	}

	.post-header-captions-mobile-sidebar {
		margin-bottom: 2em;
	}

	.post-header-captions {
		display: none;
	}

	.mobile-post-marker {
		font-family: "Solido";
		text-transform: uppercase;
		margin-top: 1em;
		margin-bottom: 10px;
		line-height: 1.15rem;
	}

	.mobile-copy {
		margin-top: 0 !important;
	}

	.dek, .wide_copy p.intro-dek {
		font-size: 0.85em;
	}

	.post-dek {
		font-size: 1.1em;
	}

	.media-contain, .teaser-contain {
		margin: 0 0 2em 0;
		padding: 0;
	}

	.pullquote {
		margin-bottom: 0 !important;
	}

	.about img, .about-gallery img {
		margin: auto;
		padding: 15px 5em 1em 1em;
	}

	.photo-right {
		max-width: none;
	}

	.referImg {
		padding: 1em !important;
		float: left;
	}

	.referBody {
		padding-top: 0.5em;
	}

	.post-module.two-images {
		margin-bottom: 0;
	}

	.post-module.two-images .post-image-left, .post-module.two-images .post-image-right {
		width: 100%;
		float: none;
		max-height: none;
		margin: 0;
	}

	.post-image-caption {
		margin-bottom: 1.5em;
	}

	p.about_lead {
		margin-bottom: 0;
	}

	.refer {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 1em;
	}

	p.about_lead.refer {
		padding-left: 1em;
		margin-top: 0;
	}

	.teaser {
		flex-basis: 100%;
	}
}

@media screen and (min-width: 701px) {
	section {
		border-left: 1px solid rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 499px) {
	.wide_copy p, .post_copy p {
		line-height: 1.75rem;
		font-size: 15.5px;
		letter-spacing: 0.025px;
	}

	.post-author, .post-date {
		line-height: 1.25em !important;
	}

	header#intro-0-header {
		padding: 3em 0.2em;
	}
}

@media screen and (max-width: 450px) {
	h1.intro-hed {
		font-size: 3.75em;
		line-height: 3.2rem;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.content--main h3 {
		margin-left: 4em;
		margin-right: 4em;
		font-size: 2.75vmax;
		line-height: 2.75vmax;
	}

	.referImg {
		max-width: 100% !important;
	}

	.section-nav.open li {
		padding-top: 0.5em;
	}
}

@media screen and (max-width: 370px) {
	.header--main h1 {
		font-size: 1.25em;
		padding: 0.15em 0;
	}

	h1.intro-hed {
		margin: 0;
	}

	.content--main h3 {
		margin: 0 3em;
	}

	.wide_copy p.intro-dek {
		font-size: 0.8em;
		line-height: 1rem;
	}

	.wide_copy p.post-article-width-image-caption {
		font-size:0.7em !important;
	}
}

@media screen and (max-width: 375px) {
	.header--main h1 {
		margin-bottom: -0.1em;
		margin-right: 1em;
		margin-top: 0.1em;
	}
}

@media screen and (min-height: 1300px) {
	section header,
	section.sidebar header {
		height: 95vh;
	}
}

@media screen and (min-height: 2300px) {
	section header,
	section.sidebar header {
		height: 97vh;
	}
}

@media screen and (min-height: 3300px) {
	section header,
	section.sidebar header {
		height: 98vh;
	}
}
